<div ng-controller="detailsCtrl">
    <div class="col-md-12" style=" display block; margin 0 auto;">
        <div class="col-md-12">

            <section class="detailsPageDashboard " style=" margin 40px">
                <h2 class="headerText">ProjectDetails</h2>
                <div class="col-md-6" style="margin-top: 20px; opacity: 0.5;">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label style="color: #999;">Project Name</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" ng-disabled="true" class="searchInput" ng-model="projectDetails.Name" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top:17px;">
                        <div class="col-sm-4">
                            <label style="color: #999;">Project Description</label>
                        </div>
                        <div class="col-md-8">
                            <input ng-disabled="true" class="searchInput form-control" ng-model="projectDetails.Description" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label style="color: #999;">Status</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control searchInput" ng-disabled="true" ng-model="projectDetails.Status" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label style="color: #999;">Score</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control searchInput" ng-disabled="true" ng-model="projectDetails.Score" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12" ng-repeat="student in studentList">
                        <div class="col-sm-4">
                            <label style="color: #999; margin-top:10px;">Student {{$index+1}}</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" ng-disabled="true" type="text" style="text-align: center;" ng-model="student.Name">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label style="color: #999; margin-top:10px;">Project File</label>
                        </div>
                        <div class="col-md-4" style="margin-top:10px;">
                            <a target="_blank" href="{{'http://'+projectDetails.FileName}}" download style="color:blue;"> Download</a>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-repeat="comment in comments">
                        <div class="col-sm-4">
                            <label style="color: #999; margin-top:10px;">Comment {{$index+1}}</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" ng-disabled="true" type="text" style="text-align: center;" ng-model="comment.Comment">
                        </div>
                        <div class="col-md-4">
                            {{comment.CreateDate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 20px;">
                    <div class="col-md-4">
                        <label style="color: #999;">Project Details</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control searchInput" ng-disabled="true" ng-model="projectDetails.Detail" rows="10" cols="60"></textarea>
                    </div>
                </div>
                <div class="col-md-12 buttonGroup" style="float: right;">
                    <div class="col-md-12" style="float:right;">
                        <button type="button" class="btn btn-default" style="float:left;" ng-click="cancelButtonClicked()">Back</button>
                        <div style="display: inline-block; float:right;">
                            <a data-toggle="tooltip" title="If you want to add comment to project, please click here!" ng-click="addComment()" style="margin-right: 20px;"><span class="glyphicon glyphicon-pencil">Comment</span></a>
                            <button type="button" class="btn btn-primary" ng-click="approveProject()">Approve</button>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

<div id="commentModal" class="modal fade" role="dialog" ng-controller="detailsCtrl">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comment for Project</h4>
            </div>
            <form name="form" role="form">
                <div class="modal-body" style="height: 100px;">
                    <div class="col-md-4">
                        <label class="projectLabel">Comment</label>
                    </div>
                    <div class="col-md-6">
                        <textarea class="searchInput form-control" ng-model="teacherComment" rows="3" cols="50" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-disabled="form.$invalid" type="button" class="btn btn-primary" ng-click="submitComment()">Create</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="approveModal" class="modal fade" role="dialog" ng-controller="detailsCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Approve Project</h4>
            </div>
            <form name="form" role="form">
                <div class="modal-body" style="height: 100px;">
                    <p>You are about to approve the project.</p>

                    <div style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="projectLabel">Project Score</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="projectScore" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button ng-disabled="form.$invalid" type="button" class="btn btn-primary" ng-click="approveSubmitButton()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>