<div ng-controller="teacherHomeCtrl">

    <div class="col-md-12">
        <section style="background-color: #fff; min-height: 350px; border:groove; border-radius:10px; margin-top:20px;">
            <div class="col-md-12">
                <h2 style="float:left;" class="headerText">My Open Projects</h2>
            </div>

            <div style="margin: 20px; margin-top:70px;" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns></div>
            <div class="col-md-12">
                <button style="margin-top: 10px; float:right;" ng-click="createAProject()" class="btn btn-primary">Create a Project</button>
            </div>

        </section>
    </div>


    <div class="col-md-12">
        <section style="background-color: #fff; min-height: 350px; border:groove; border-radius:10px; margin-top:20px;">
            <div class="col-md-12">
                <h2 style="float:left;" class="headerText">Student Projects</h2>
            </div>
            <div style="margin: 20px; margin-top:70px;" ui-grid="gridOptions2" class="grid" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns></div>
            <div class="col-md-12">
                <button style="float: right; margin-top: 10px;" class="btn btn-primary" ng-click="showDetails()">Investigate</button>
            </div>
        </section>
    </div> 
</div>



<div id="myModal" class="modal fade" role="dialog" ng-controller="teacherHomeCtrl">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Project Template</h4>
            </div>
            <form name="form" role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Project Name</label>
                        <input type="text" ng-model="projectForm.projectName" class="form-control" id="exampleInputEmail1" placeholder="" required />
                    </div>
                    <div class="form-group">
                        <label for="">Project Lesson:</label>
                        <select class="form-control" ng-model="projectForm.projectLesson" required>
                            <option value="{{lesson}}" ng-repeat="lesson in lessons">{{lesson.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Project Description</label>
                        <textarea ng-model="projectForm.projectDescription" class="form-control" id="exampleInputEmail1" placeholder="" required />
                    </div>

                    <div class="form-group">
                        <label for="">Project Details</label>
                        <textarea ng-model="projectForm.projectDetails" class="form-control" id="exampleInputEmail1" placeholder="" required />
                    </div>
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <input type="date" ng-model="projectForm.StartDate" class="form-control" id="exampleInputEmail1" placeholder="" required />
                    </div>
                    <div class="form-group">
                        <label for="">Deadline</label>
                        <input type="date" ng-model="projectForm.EndDate" class="form-control" id="exampleInputEmail1" placeholder="" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-disabled="form.$invalid || projectForm.projectLesson == null" class="btn btn-primary" ng-click="createProjectTemplate(projectForm)">Create</button>
                </div>
            </form>
        </div>

    </div>
</div>