/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  background-color:rgba(48,114,146,.81);
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body{
  background-color : white;
}

[ng-cloak] {
    display: none;
}

.dashboardStyle{
  position: relative;
  height: inherit;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  width : 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.searchInput{
  width: 100%;
  margin-bottom: 20px;
}

.searchField{
  margin: 20px;
}

.detailsPageDashboard{
  background-color: #fff;
  height: 600px;
  border-style: groove;
  border-radius: 10px;
}

.projectLabel{
  color: #999;
}

.glyphicon-pencil:hover{
  text-decoration: underline;
  cursor:pointer;
}

.buttonGroup{
  margin : 20px;
}

.headerText{
  margin-left: 25px;
}

#sidebar {
  background-color: #191919;
  padding: 10px;
}

#sidebar a:hover, a:focus {
  color: #FFF;
  text-decoration: none;
}

#sidebar.nav > li > a,
#sidebar.nav > li > a:link {
  background-color: #191919;
  color: #FFF;
}

#sidebar.nav > li > a:hover,
#sidebar.nav > li > a:focus {
  background-color: #373737;
}

#sidebar.nav-pills > li.active > a,
#sidebar.nav-pills > li.active > a:hover,
#sidebar.nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #C72A25;
}

.grid {
  /*width: 700px;*/
  height: 200px;
}

.deleteIcon{
  cursor:pointer;
  color:red;
}

deleteIcon:hover{
  text-decoration: underline;
}

.panel-heading {

    background: #5bc0de;
    color: #fff;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #5bc0de;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}