<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.19/angular-cookies.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.js"></script>
	<!-- for no html5 browsers support -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css"/>

	<title>TermViewer Project</title>
	<link rel="stylesheet" href="app.css">
</head>

<body ng-cloak ng-controller="appController">
	<nav ng-if="LoggedIn" class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">TermViewer</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Projects</a></li>
			</ul>
            <ul class="nav navbar-nav">
                <li><a href="#">Lessons</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li ><a href="#/archive">Archive</a></li>
            </ul>
           
			<ul ng-if="!LoggedIn" class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
			<ul ng-if="LoggedIn" class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ UserName }}</a></li>
				<li><a ng-click="Logout()" style="cursor:pointer;"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
	<div ui-view></div>
	<script data-main="require-config" src="bower_components/requirejs/require.js"></script>
</body>

</html>